.content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  overflow: auto;
  height: 490px;
  &__columns {
    width: 100px;
    height: 100%;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__cards {
    &:not(:first-child) {
      margin-top: -125%;
    }
  }
}
